#header {
  background-color: #4CAF50;
  height: 75px;
  text-align: center;
  border-radius: 10px;
  top: 0px;
  width: 100%;
  position: fixed;
}

#root {
    max-width: 100%;
    /* margin: 0 auto; */
    margin-top: 25px;
  }

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 100px;
  cursor: pointer;
 width: 100%;
  border-radius: 10px;
  /* margin-left: 90px;
  margin-right: 90px; */
}
  /* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}

  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .card {
    margin: 1rem;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 16px;
    text-align: center;
    width: 275px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #f1f1f1;
   
  }
  /* Card style for a single app  */
  .card-detail {
    margin: 1rem;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 16px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #f1f1f1;
   
  }
  
  
  /* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

  .icon {
      max-width: 500px;
      height: 45%;
      width: 50%;
  }

  .icon-detail {
    max-width: 280px;
    max-height: 280px;
    height: min-content;
    width: min-content;
    border-radius: 70px;
}

  .summary {
    width: inherit;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .summary-detail {
    width: inherit;
    text-justify: auto;
  }


  .img-ss {
    width: 17%;
    height: inherit;
    margin-right: 2%;
    margin-top: 10px;
  }

  .comment {
    text-size-adjust: 70%;
    font-style: italic;
    /* margin-top: 15px;
    margin-bottom: 15px; */
    float: left;
    max-width: 90%;
    /* width: 1%; */
    padding: 0 10px;
  }

  .heading {
    font-weight: 900;
    margin-top: 20px;
    font-size: larger;
    padding: 0 10px;
    
  }

  .downloadImg {
    align-content: center;
    width: 35%;
    border-radius: 30px;
  }